
div{
 height:100px;
 width:100px;
}
.black{
 background-color: rgb(107, 33, 3);
}
.white{
 background-color: rgb(224, 180, 132);
}
.container{
 display:grid;
 grid-template-columns: repeat(8,1fr);
 grid-template-rows: repeat(8,1fr);
}
